@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F5F5F5;
  color: #333;
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
} 

/* Navbar */
.navbar {
  background: linear-gradient(90deg, #2E7D32, #4CAF50);
  padding: 0.5rem 1rem; 
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.navbar-brand img {
  max-height: 50px; 
  width: auto; 
  margin-right: 10px;
}

.nav-link {
  font-size: 1.1rem; 
  padding: 0.75rem 1rem; 
  color: #FFF !important;
  font-weight: 400;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #FFCA28 !important;
}
/* Seção Home */
#home {
  padding: 3rem 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); /* Fundo suave */
  border-radius: 10px;
}

.display-4 {
  font-weight: 700;
  font-size: 2.5rem; 
  color: #2E7D32; /* Verde escuro */
}

#cursosonline {
  font-size: 2rem; /* Ajustado para legibilidade */
  line-height: 2.5rem;
  letter-spacing: -0.5px;
  background: linear-gradient(90deg, #4FC3F7, #2E7D32); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem 0;
}

.btn-dark {
  background-color: #2E7D32; 
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: 700;
  transition: background-color 0.3s;
}

.btn-dark:hover {
  background-color: #4CAF50; 
}


.logo-container {
  width: 200px;
  height: 200px;
  margin: 2rem auto;
  position: relative;
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 50%; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recycle-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.arrow {
  position: absolute;
  width: 70%;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}



/* Responsividade */
@media (max-width: 768px) {
  .display-4 {
    font-size: 1.8rem;
  }

  #cursosonline {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .logo-container {
    width: 150px;
    height: 150px;
  }

  .btn-dark {
    padding: 0.5rem 1rem;
  }
}


#content {
  padding-bottom: 60px; 
}

.gradient-wave {
  background: linear-gradient(270deg, #0f3d0f, #23882f, #25cc39, #1a5821, #0f3d0f);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 5s ease infinite;
  font-weight: 700;
}

@keyframes wave {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.logo-container {
  width: 200px; 
  height: 180px; 
  margin: 5rem auto; 
  position: relative;
  background: rgba(224, 253, 220, 0.8); 
  border-radius: 50%; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recycle-container {
  width: 100%;
  height: 100%;
  position: relative;
}


@keyframes arrow1-animation {
  0%, 40% {
    left: 50%;
    top: 6.67%;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    left: 20%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(56.3deg);
  }
  60%, 70% {
    left: 20%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(56.3deg);
  }
  80% {
    left: 80%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(-51.3deg);
  }
  80%, 90% {
    left: 80%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(-51.3deg);
  }
  100% {
    left: 50%;
    top: 6.67%;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
}

@keyframes arrow2-animation {
  0%, 40% {
    left: 20%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(56.3deg);
  }
  50% {
    left: 80%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(-51.3deg);
  }
  60%, 70% {
    left: 80%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(-51.3deg);
  }
  80% {
    left: 50%;
    top: 6.67%;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  80%, 90% {
    left: 50%;
    top: 6.67%;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    left: 20%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(-303.7deg);
  }
}

@keyframes arrow3-animation {
  0%, 40% {
    left: 80%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(-51.3deg);
  }
  50% {
    left: 50%;
    top: 6.67%;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  60%, 70% {
    left: 50%;
    top: 6.67%;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  80% {
    left: 20%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(-303.7deg);
  }
  80%, 90% {
    left: 20%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(-303.7deg);
  }
  100% {
    left: 80%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(-411.3deg);
  }
}

/* Aplicando as animações */
.arrow1 {
  animation: arrow1-animation 12s ease-in-out infinite;
}
.arrow2 {
  animation: arrow2-animation 12s ease-in-out infinite;
}
.arrow3 {
  animation: arrow3-animation 12s ease-in-out infinite;
}

/*Seção falando sobre os cursos com o carrosel*/


.about-courses {
  padding: 90px 10px;

}

.about-courses-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  gap: 40px;
  flex-wrap: wrap;
}

.about-courses-text {
  min-width: 300px;
}

.about-courses-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #2E7D32; /* Verde escuro */
  
}

.about-courses-text h6 {
  font-size:1.2rem;
  color: #555;
  line-height: 1.6;
}

.about-courses-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.about-courses-image img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
/* From Uiverse.io by Prince4fff */
 
#courses-benefits-text{
  text-align: center;
  color:#2E7D32; /* Cor da palheta de cores */
  margin:8vh;
  font-weight: bold;
  font-size: 2.4rem;
}
.facts-about{
  display: flex;
  justify-content: space-between;
  gap: 20px;
 
}

.card{
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 40vw;
  margin: 0px;
  padding: 0px;

 
}
.card p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 28px;
  color: #666;
}

.card p.small {
  font-size: 1.5rem;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color:#2E7D32;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background:#2E7D32;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(60);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

footer {
  background: linear-gradient(90deg, #2E7D32, #4CAF50);
  margin-top: auto;
  color: #FFF;
  text-align: center
}

footer small {
  font-weight: 400;
}
/* Responsividade*/
@media(max-width: 1900px){
  .logo-container {
    width: 150px; 
    height: 130 px;
    margin: 1.5rem auto;
  }

  .facts-about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
   
  }
  
  .card{
    display: flex;
    flex-direction: row;
    width: 20vw;
    margin: 0px;
    padding: 0px;
   
  }
  .card p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 26px;
    color: #191818;
  }
  
  .card p.small {
    font-size: 1.3rem;
    line-height: 26px;
    color:#333;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color:#2E7D32;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card1 {
    display: block;
    position: relative;
  
   
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
}


@media(max-width: 1400px){
  .logo-container {
    width: 150px; 
    height: 130 px;
    margin: 1.5rem auto;
  }

  .facts-about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
   
  }
  
  .card{
    display: flex;
    flex-direction: row;
    width: 32vw;
    margin: 0px;
    padding: 0px;
   
  }
  .card p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: #191818;
  }
  
  .card p.small {
    font-size: 1.0rem;
    line-height: 22px;
    color:#333;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color:#2E7D32;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card1 {
    display: block;
    position: relative;
  
   
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
}


@media (max-width: 768px) {
  .logo-container {
    width: 150px; 
    height: 130 px;
    margin: 1.5rem auto;
  }

  .facts-about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
   
  }
  
  .card{
    display: flex;
    flex-direction: row;
    height: 24vh;
    width: 36vw;
    margin: 0px;
    padding: 0px;
   
  }
  .card p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    color: #191818;
  }
  
  .card p.small {
    font-size: 1.0rem;
    color:#333;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color:#2E7D32;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card1 {
    display: block;
    position: relative;
  
   
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
  }
  
/* Rodapé */




@media (max-width: 576px) {
  .logo-container {
    width: 120px; 
    height: 100px;
    margin: 3rem auto;
  }
  .facts-about{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
   
  }
  
  .card{
    display: flex;
    flex-direction: row;
    height: 32vh;
    width: 42vw;
    margin: 0px;
    padding: 0px;
   
  }
  .card p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
    color: #191818;
  }
  
  .card p.small {
    font-size: 0.9rem;
    color: #333;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color:#2E7D32;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card1 {
    display: block;
    position: relative;
  
   
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
    
    
   
  }
  
  @media (max-width: 500px) {
    .facts-about{
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      gap: 20px;
     
    }
    
    .card{
      display: flex;
      flex-direction: row;

      width: 60vw;
      margin: 0px;
      padding: 0px;
     
    }
    .card p {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 20px;
      color: #191818;
    }
    
    .card p.small {
      font-size: 0.9rem;
      color: #333;
    }
    
    .go-corner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 32px;
      height: 32px;
      overflow: hidden;
      top: 0;
      right: 0;
      background-color:#2E7D32;
      border-radius: 0 4px 0 32px;
    }
    
    .go-arrow {
      margin-top: -4px;
      margin-right: -4px;
      color: white;
      font-family: courier, sans;
    }
    
    .card1 {
      display: block;
      position: relative;
    
     
      border-radius: 4px;
      padding: 32px 24px;
      margin: 12px;
      text-decoration: none;
      z-index: 0;
      overflow: hidden;
    }
  }
    @media (max-width: 300px) {
      .facts-about{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap: 20px;
       
      }
      
      .card{
        display: flex;
        flex-direction: row;
        height: 32vh;
        width: 60vw;
        margin: 0px;
        padding: 0px;
       
      }
      .card p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 20px;
        color: #191818;
      }
      
      .card p.small {
        font-size: 0.9rem;
        color: #333;
      }
      
      .go-corner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 32px;
        height: 32px;
        overflow: hidden;
        top: 0;
        right: 0;
        background-color:#2E7D32;
        border-radius: 0 4px 0 32px;
      }
      
      .go-arrow {
        margin-top: -4px;
        margin-right: -4px;
        color: white;
        font-family: courier, sans;
      }
      
      .card1 {
        display: block;
        position: relative;
      
       
        border-radius: 4px;
        padding: 32px 24px;
        margin: 12px;
        text-decoration: none;
        z-index: 0;
        overflow: hidden;
      }
      
      
  }

